
header{
	overflow: hidden;
	padding: 2px 0 122px 0;
}

.content{
	padding:0 10%;
	background: $white;
	div{
		box-sizing: border-box;
	}
}

.more-news{
	display: inline-block;
  	float: right;
  	width: 40%;
}

footer{
	position: absolute;
  	width: 100%;
}

.suscription{
	width: 380px;
}